a, a:visited, a:active {
  color: #444;
}

.container {
   margin: 20px; 
   fill:gray;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}

.button.active {
  background: #000;
  color: #fff;
}


#vis {
  width: 100vw;
  height: 70%;
  clear: both;
  margin-bottom: 10px;
}

#toolbar {
  margin-bottom: 10px;
}
.svgrow {
    max-width: 100vw;
    overflow-x: auto;
}
.svgrow svg {
    min-width: 70rem;
}

.year {
  font-size: 21px;
  fill: black;
  cursor: default;
}

.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 80px; height: 16px; text-align:center; margin: 2px; }
/* your colors */
.legend .noissue { background-color: #008000; }
.legend .information { background-color:yellow; }
.legend .attention { background-color: #FF0000; }

/* your colors */
.legend .superawesome { background-color: #beccae; }
.legend .awesome { background-color:yellow; }
.legend .kindaawesome { background-color: #d84b2a; }
	
div.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 5px;
	width: 250px;
	height:65px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

.footer {
  text-align: center;
}
.tooltip {
  position: absolute;
  text-align: center;
  width: 320px;
  height: 60px;
  padding: 2px;
  font: 12px AccentureRotis;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}