/* Set a fixed scrollable wrapper */
.tableWrap {
  height: 200px;
  border: 2px solid black;
  overflow: auto;
}
/* Set header to stick to the top of the container. */
thead tr th {
  position: sticky;
  top: 0;
}

/* If we use border,
we must use table-collapse to avoid
a slight movement of the header row */
table {
 border-collapse: collapse;
}

/* Because we must set sticky on th,
 we have to apply background styles here
 rather than on thead */
th {
  padding: 16px;
  padding-left: 15px;
  border-left: 1px dotted rgba(200, 209, 224, 0.6);
  border-bottom: 1px solid #e8e8e8;
  background: #ffc491;
  text-align: left;
  /* With border-collapse, we must use box-shadow or psuedo elements
  for the header borders */
  box-shadow: 0px 0px 0 2px #e8e8e8;
}

/* Basic Demo styling */
table {
  width: 100%;
  font-family: sans-serif;
}
table td {
  padding: 5px;
}
tbody tr {
  border-bottom: 2px solid #e8e8e8;
}
thead {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}
tbody tr:hover {
  background: #e6f7ff;
}

<!--#report_tbl {
    border-collapse: collapse;
	margin-top: 5px;
    width: 99%;
}

#report_tbl td, #report_tbl th {
    border: 1px solid #ddd;
    padding: 5px;
	font-size: 13px;
	width: auto;
}

#report_tbl tr:nth-child(even){background-color: #f2f2f2; }

#report_tbl tr:hover {background-color: #ddd;}

#report_tbl th {
    padding-top: 5px;
	font-size: 16px;
	font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
    background-color: #023e72;
    color: white;
	position: relative;
}

#report_bdy {
	display: block;
    overflow: auto;
    width: 100%;
    height: 400px;
}-->

		
#tbl_usage {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
	margin-left:10px;
	font-size: 12px;
}

#tbl_usage td, #tbl_usage th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tbl_usage tr:nth-child(first){background-color: #5d8aa8;}

#tbl_usage tr:nth-child(even){background-color: #f2f2f2;}

#tbl_usage tr:hover {background-color: #ddd;}

#tbl_usage th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5d8aa8;
    color: white;
}
table {
font-family: "calibri";
font-size: 12px;
}