.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}

.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}

.circle-tile-heading .fa {
    line-height: 80px;
}

.circle-tile-content {
    padding-top: 50px;
}

.circle-tile-number {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 0 15px;
}

.circle-tile-description {
    text-transform: uppercase;
}

.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}

.circle-tile-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.circle-tile-heading.dark-blue:hover {
    background-color: #2E4154;
}

.circle-tile-heading.green:hover {
    background-color: #138F77;
}

.circle-tile-heading.orange:hover {
    background-color: #DA8C10;
}

.circle-tile-heading.blue:hover {
    background-color: #2473A6;
}

.circle-tile-heading.red:hover {
    background-color: #CF4435;
}

.circle-tile-heading.purple:hover {
    background-color: #7F3D9B;
}

.tile-img {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.dark-blue {
    background-color: #34495E;
}

.green {
    background-color: #16A085;
}

.blue {
    background-color: #2980B9;
}

.orange {
    background-color: #F39C12;
}

.red {
    background-color: #E74C3C;
}

.purple {
    background-color: #8E44AD;
}

.dark-gray {
    background-color: #7F8C8D;
}

.gray {
    background-color: #95A5A6;
}

.light-gray {
    background-color: #BDC3C7;
}

.yellow {
    background-color: #F1C40F;
}

.text-dark-blue {
    color: #34495E;
}

.text-green {
    color: #16A085;
}

.text-blue {
    color: #2980B9;
}

.text-orange {
    color: #F39C12;
}

.text-red {
    color: #E74C3C;
}

.text-purple {
    color: #8E44AD;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

#Div_Imperative_sidenav a {
    position: absolute;
    right: -250px;
    float: right;
    transition: 0.3s;
    padding: 5px;
    width: 280px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-radius: 5px 0px 0px 5px;
	opacity: 0.8;
}

#Div_Imperative_sidenav a:hover {
    right: 0;
}

#about {
    top: 80px;
    background-color: #4CAF50;
}

#blog {
    top: 140px;
    background-color: #2196F3;
}

#projects {
    top: 200px;
    background-color: #f44336;
}

#contact {
    top: 260px;
    background-color: #555
}

.input-group-addon {
    display: inline-block;
    height: 24px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.fa-3x {
    font-size: 3em
}

.IMP001:before {
    content: "\f007"
}
.IMP032:before {
    content: "\f007"
}
.IMP002:before {
    content: "\f12e"
}

.IMP003:before {
    content: "\f188"
}

.IMP004:before {
    content: "\f0e4"
}

.IMP005:before {
    content: "\f1e5"
}

.IMP033:before {
    content: "\f1e5"
}

.IMP006:before {
    content: "\f1fe"
}

.IMP007:before {
    content: "\f0f0"
}

.IMP008:before {
    content: "\f002"
}

.IMP009:before {
    content: "\f0e4"
}
.IMP015:before {
    content: "\f007"
}
.IMP016:before {
    content: "\f007"
}

.IMP017:before {
    content: "\f1fe"
}

.IMP018:before {
    content: "\f0f0"
}

.IMP019:before {
    content: "\f110"
}

.IMP020:before {
    content: "\f20b"
}
.IMP030:before {
    content: "\f0e4"
}
.IMP031:before {
    content: "\f0e4"
}
.IMP021:before {
    content: "\f2db"
}
.IMP022:before {
    content: "\f0c2"
}
.IMP023:before {
    content: "\f1c0"
}
.IMP024:before {
    content: "\f1c6"
}
.IMP025:before {
    content: "\f1c0"
}
.IMP026:before {
    content: "\f1c6"
}
.IMP027:before {
    content: "\f1c0"
}
.IMP028:before {
    content: "\f1c6"
}
.IMP029:before {
    content: "\f1c0"
}
.IMP034:before {
    content: "\f007"
}
.IMP035:before {
    content: "\f007"
}
.IMP036:before {
    content: "\f1e5"
}
.IMP037:before {
    content: "\f12e"
}
.IMP038:before {
    content: "\f1c0"
}
.IMP039:before {
    content: "\f1c0"
}
.IMP040:before {
    content: "\f1e5"
}
.IMP041:before {
    content: "\f1c6"
}
.IMP042:before {
    content: "\f1c0"
}
.IMP043:before {
    content: "\f007"
}
.IMP044:before {
    content: "\f1c0"
}
.IMP001_bgcolor {
    background-color: #4CAF50
}
.IMP001_bgcolor {
    background-color: #4CAF50
}

.IMP002_bgcolor {
    background-color: #2196F3
}

.IMP003_bgcolor {
    background-color: #f44336
}

.IMP004_bgcolor {
    background-color: #CD853F
}

.IMP005_bgcolor {
    background-color: #ffa500
}

.IMP006_bgcolor {
    background-color: #F39F96
}

.IMP007_bgcolor {
    background-color: #009999
}

.IMP008_bgcolor {
    background-color: #660066
}

.IMP009_bgcolor {
    background-color: #CD853F
}

.IMP015_bgcolor {
    background-color: #4CAF50
}

.IMP016_bgcolor {
    background-color: #4CAF50
}

.IMP017_bgcolor {
    background-color: #F39F96
}

.IMP018_bgcolor {
    background-color: #009999
}

.IMP019_bgcolor {
    background-color: #660066
}

.IMP020_bgcolor {
    background-color: #CD853F
}

.IMP021_bgcolor {
    background-color: #FFD700
}
.IMP022_bgcolor {
    background-color: #F39F96
}
.IMP023_bgcolor {
    background-color: #4CAF50
}
.IMP024_bgcolor {
    background-color: #660066
}
.IMP025_bgcolor {
    background-color: #4CAF50
}
.IMP026_bgcolor {
    background-color: #660066
}
.IMP027_bgcolor {
    background-color: #4CAF50
}
.IMP028_bgcolor {
    background-color: #660066
}
.IMP029_bgcolor {
    background-color: #4CAF50
}
.IMP030_bgcolor {
    background-color: #F39F96
}
.IMP031_bgcolor {
    background-color: #F39F96
}
.IMP032_bgcolor {
    background-color: #4CAF50
}
.IMP033_bgcolor {
    background-color: #ffa500
}
.IMP034_bgcolor {
    background-color: #4CAF50
}
.IMP035_bgcolor {
    background-color: #4CAF50
}
.IMP036_bgcolor {
    background-color: #ffa500
}
.IMP037_bgcolor {
    background-color: #2196F3
}
.IMP038_bgcolor {
    background-color: #660066
}
.IMP039_bgcolor {
    background-color: #660066
}
.IMP040_bgcolor {
    background-color: #ffa500
}
.IMP041_bgcolor {
    background-color: #F39F96
}
.IMP042_bgcolor {
    background-color: #ffa500
}
.IMP043_bgcolor {
    background-color: #4CAF50
}
.IMP044_bgcolor {
    background-color: #660066
}